.editoras-item{
    padding:2px;
    margin:2px;
}
.editoras-item:nth-child(2n){
    border-bottom: 3px solid #FFC1F1;
    border-top: 3px solid #FFC1F1;
}
h2{
    text-align: center;
    font-size: larger;
    font-weight: 600;
    color:white;
    text-align: center;
    background-color: #FFD8BB;
    padding:5px;
    text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
}
#botoes-container{
    display: flex;
    justify-content: center;
    background-color: #FFD8BB;
    max-width:700px;
    margin:auto;
}
#botoes-container > button{
    width: 30%;
    height: 50px;
    font-weight: 800;
    font-size: large;
    color:rgb(33, 33, 33);
    border: none;
    margin:2px;
    text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
    border-radius: 10px;
    transition-property: background-color, font-size;
    transition-duration: 0.5s;
}

#botoes-container > button:hover{
    cursor:pointer;
    font-size: larger;
}
#livros-botao{
    background-color: rgb(243, 118, 118);
}
#autores-botao{
    background-color: rgb(254, 254, 123);
}
#editoras-botao{
    background-color: rgb(168, 247, 251);
}
#livros-botao:hover{
    background-color: rgb(240, 83, 83);
}
#autores-botao:hover{
    background-color: rgb(237, 237, 67);
}
#editoras-botao:hover{
    background-color: rgb(93, 220, 226);
}


